---
name: pre-commit

on: pull_request

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v4.2.0
        with:
          python-version: "3.10"
      - uses: pre-commit/action@v3.0.0
